#
MVVM + DI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MVVM + DI.xcodeproj/project.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
MVVM + DI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MVVM + DI.xcodeproj/xcuserdata/georg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MVVM + DI.xcodeproj/xcuserdata/georg.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
